<VirtualHost *:80>
    ServerName {{magento_server_name}}
    DocumentRoot {{magento_docroot}}
    <Directory {{magento_docroot}}>
                    Options Indexes FollowSymLinks MultiViews
                    AllowOverride All
                    Order allow,deny
                    allow from all
    </Directory>
    SSLEngine on
    SSLCertificateFile /etc/ssl/certs/apache-selfsigned.crt
    SSLCertificateKeyFile /etc/ssl/private/apache-selfsigned.key
</VirtualHost>

Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains"